@import "tailwindcss";

@font-face {
  font-family: 'Antonio';
  src: url('./assets/Fonts/Antonio.woff') format('woff2'),
}

@font-face {
  font-family: 'Antonio2';
  src: url('./assets/Fonts/Antonio2.woff2') format('woff2'),
}

@media (max-width:300px) {
   
  .poster-div{
    height: 120vh;
  }

  .poster-det{
   height: 60vh;
  }
  .poster{
    height: 60vh;
  }

  .tagline1,.tagline2{
    font-size: 10vw;
  }

  .tagline2{
    top:50%;
  }
}
